{% extends 'base.html' %}
{% block title %}
Updating is Laptop
{% endblock %}
{% block content %}
<div class="containers mt-5">
    <form action="" method="post">{% csrf_token %}
        <a href="{% url 'laptop_detail_page' laptop.pk %}">
            <button type="button" class="btn btn-primary">
                <i class="fa-solid fa-left-long"></i> Go Back
            </button>
        </a>
        <h1>Laptop Update</h1>
        {{form.media}}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
</div>
</div>
{% endblock content %}