* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    height: 80px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user {
    gap: 15px;
    display: flex;
    align-items: center;
}

.user p {
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logout a i {
    font-size: 25px;
}
